@model AgendamentoEnergia.Models.Equipamento

@{
    ViewBag.Title = "Excluir equipamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Excluir</h2>

<h3>Tens cereteza que deseja excluir esse equipamento </h3>
<div>
    <h4>Equipamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSheet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSheet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Potencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Potencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalhes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalhes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar a lista", "Index")
        </div>
    }
</div>
