@model IEnumerable<AgendamentoEnergia.Models.Equipamento>

@{
    ViewBag.Title = "Listagem de equipamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Adicionar novo equipamento", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataSheet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Potencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalhes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            <a href="@item.DataSheet.ToString()">DataSheet</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Potencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detalhes)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.EquipamentoID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.EquipamentoID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.EquipamentoID })
        </td>
    </tr>
}

</table>
