@model IEnumerable<AgendamentoEnergia.Models.Sistema>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Potencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataInstalação)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Potencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataInstalação)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SistemaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SistemaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SistemaID })
        </td>
    </tr>
}

</table>
