@model AgendamentoEnergia.Models.Agendamento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Agendamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Serviço.Descrição)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serviço.Descrição)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataExecucao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataExecucao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataAgendamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataAgendamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Executado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Executado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BemSucedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BemSucedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Confirmado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Confirmado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AgendamentoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
